:root {
  --color-negro: #0f0e17;
  --color-verde: #00c200;
  --color-blanco: #fffffe;
  --color-placeholder: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Nunito 1";
  src: url(../7ddd6722d49bf5270cf1.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Nunito 2";
  src: url(../06337b2efe0c0d52bcb6.ttf);
  font-display: swap;
}

html {
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: visible;
  min-width: 300px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--color-blanco);
  font-size: 16px;
  font-weight: normal;
  line-height: normal;  
}

img {
  max-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--color-verde);
}

.open-burger{
  transition: transform 500ms ease;
  transform: translate(0, 0);
}

.close-burger {
  transition: transform 500ms ease;
  transform: translate(-100%, 0);
}
